@using BookStore.AzureSearch
@model IReadOnlyList<BookStore.Utils.Grouping<SearchResultType, string>>
@{
    ViewBag.Title = "Поиск";
}

<h2>Результаты поска</h2>

@foreach (var resultsGroup in Model)
{
    <h3>@resultsGroup.Key.GetDisplayName()</h3>
    foreach (var result in resultsGroup)
    {
        <p>@result</p>
    }
}