
@model IReadOnlyList<BookStore.Utils.Grouping<string, BookStore.AzureSearch.ISearchResult>>
@{
    ViewBag.Title = "Поиск";
}

<h2>Результаты поска</h2>

@foreach (var resultsGroup in Model)
{
    <h3>
        @Html.DisplayFor(modelItem => resultsGroup.Key)
    </h3>
    foreach (var result in resultsGroup)
    {
        <p>
            @Html.DisplayFor(modelItem => result.Text)
        </p>
    }
}