@using BookStore.AzureSearch
@model IDictionary<SearchResultType, IReadOnlyList<string>>
@{
    ViewBag.Title = "Поиск";
}

<h2>Результаты поска</h2>

@foreach (var resultsGroup in Model)
{
    <h3>@resultsGroup.Key.GetDisplayName()</h3>
    foreach (var result in resultsGroup.Value)
    {
        <p>@result</p>
    }
}